@* Mathilda Eriksson, DT191G, VT24 *@
@model PaginatedList<EquiMarketApp.Models.Ad>

@{
    ViewData["Title"] = "'Annonser'";
}

<h2>Annonser</h2>

<table class="table">
    <thead> @* TODO: Lägg till allt som ska visas här, inklusive länk till annonsens egen sida *@
        <tr>
            <th>@Html.DisplayNameFor(model => model[0].Title)</th>
            <th>@Html.DisplayNameFor(model => model[0].Description)</th>
            <th>@Html.DisplayNameFor(model => model[0].Price)</th>
            <th>Bild</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Details", "Ad", new { id = item.AdId, returnUrl = Context.Request.Path })">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>
                    @if (item.Images != null && item.Images.Any())
                    {
                        foreach (var image in item.Images)
                        {
                            <img src="@Url.Content("~/" + image.ImagePath)" alt="Bild på annonsobjekt" style="width: 150px; height: auto;" />
                        }
                    }
                    else
                    {
                        <img src="~/images/placeholder.png" alt="Placeholderbild" style="width: 150px; height: auto;" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@* Paginering *@
@if (Model.HasPreviousPage)
{
    <a asp-action="ApprovedAds" asp-route-pageNumber="@(Model.PageIndex - 1)"
        asp-route-pageSize="@Model.PageSize">Föregående</a>
}
else
{
    <span>Föregående</span>
}

@if (Model.HasNextPage)
{
    <a asp-action="ApprovedAds" asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-pageSize="@Model.PageSize">Nästa</a>
}
else
{
    <span>Nästa</span>
}
