@* Mathilda Eriksson, DT191G, VT24 *@
@model PaginatedList<EquiMarketApp.Models.Ad>

@{
    ViewData["Title"] = "'Annonser'";
}

<h2>Annonser</h2>
<form method="get" asp-action="ApprovedAds">
    <div class="mb-4">
        <label for="adTypeId">Annonstyp:</label>
        <select name="adTypeId" id="adTypeId" asp-items="ViewBag.AdTypeId" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded">
            <option value="">Alla</option>
        </select>
    </div>
    <div class="mb-4">
        <label for="searchString">Sök:</label>
        <input type="search" name="searchString" id="searchString" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
            placeholder="Sök i titel och beskrivning" value="@ViewBag.CurrentSearchString" />
    </div>
    <div class="mb-4">
        <label for="countyId">Län:</label>
        <select name="countyId" id="countyId" asp-items="ViewBag.CountyId" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded">
            <option value="">Alla</option>
        </select>
    </div>
    <div class="flex flex-wrap -mr-1 -ml-1">
        <div class="relative flex-grow max-w-full flex-1 px-4">
            <label for="minPrice">Pris från:</label>
            <input type="number" name="minPrice" id="minPrice" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded" placeholder="Min"
                value="@ViewBag.minPrice" step="1">
        </div>
        <div class="relative flex-grow max-w-full flex-1 px-4">
            <label for="maxPrice">Pris till:</label>
            <input type="number" name="maxPrice" id="maxPrice" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded" placeholder="Max"
                value="@ViewBag.maxPrice" step="1">
        </div>
    </div>
    <div class="flex flex-wrap -mr-1 -ml-1">
        <div class="relative flex-grow max-w-full flex-1 px-4">
            <label for="minHeight">Mankhöjd från:</label>
            <input type="number" name="minHeight" id="minHeight" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded" placeholder="Min"
                value="@ViewBag.minHeight" step="1">
        </div>
        <div class="relative flex-grow max-w-full flex-1 px-4">
            <label for="maxHeight">Mankhöjd till:</label>
            <input type="number" name="maxHeight" id="maxHeight" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded" placeholder="Max"
                value="@ViewBag.maxHeight" step="1">
        </div>
    </div>
    <div class="mb-4">
        <label for="breedId">Ras:</label>
        <select name="breedId" id="breedId" asp-items="ViewBag.BreedId" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded">
            <option value="">Alla</option>
        </select>
    </div>
    <div class="flex flex-wrap -mr-1 -ml-1">
        <div class="relative flex-grow max-w-full flex-1 px-4">
            <label for="minBirthyear">Född från år:</label>
            <input type="number" name="minBirthyear" id="minBirthyear" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded" placeholder="Min"
                value="@ViewBag.minBirthyear" step="1">
        </div>
        <div class="relative flex-grow max-w-full flex-1 px-4">
            <label for="maxBirthyear">Född till år:</label>
            <input type="number" name="maxBirthyear" id="maxBirthyear" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded" placeholder="Max"
                value="@ViewBag.maxBirthyear" step="1">
        </div>
    </div>
    <div class="mb-4">
        <label for="gender">Kön:</label>
        @Html.DropDownList("gender", (IEnumerable<SelectListItem>)ViewBag.Gender, "Välj kön", new
            {
                @class =
                 "block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
            })
    </div>
    <div class="mb-4">
        <label for="originId">Ursprung:</label>
        <select name="originId" id="originId" asp-items="ViewBag.OriginId" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded">
            <option value="">Alla</option>
        </select>
    </div>

    <button type="submit" class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline bg-blue-600 text-white hover:bg-blue-600">Filtrera</button>
    <a href="@Url.Action("ApprovedAds", "Ad")" class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline bg-gray-600 text-white hover:bg-gray-700">Töm filter</a>
</form>

<table class="w-full max-w-full mb-4 bg-transparent">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model[0].Title)</th>
            <th>@Html.DisplayNameFor(model => model[0].Description)</th>
            <th>@Html.DisplayNameFor(model => model[0].Price)</th>
            <th>@Html.DisplayNameFor(model => model[0].CreatedAt)</th>
            <th>@Html.DisplayNameFor(model => model[0].BirthYear)</th>
            <th>@Html.DisplayNameFor(model => model[0].Height)</th>
            <th>@Html.DisplayNameFor(model => model[0].Name)</th>
            <th>@Html.DisplayNameFor(model => model[0].Gender)</th>
            <th>@Html.DisplayNameFor(model => model[0].Breed.Name)</th>
            <th>@Html.DisplayNameFor(model => model[0].Location.Name)</th>
            <th>@Html.DisplayNameFor(model => model[0].Origin)</th>
            <th>Bild/er</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Details", "Ad", new { id = item.AdId, returnUrl = Context.Request.Path })">@Html.DisplayFor(modelItem
                    => item.Title)</a>
                </td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
                <td>@Html.DisplayFor(modelItem => item.BirthYear)</td>
                <td>@Html.DisplayFor(modelItem => item.Height)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Gender)</td>
                <td>@Html.DisplayFor(modelItem => item.Breed.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Location.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Origin.Country)</td>
                <td>
                    @if (item.Images != null && item.Images.Any())
                    {
                        foreach (var image in item.Images)
                        {
                            <img src="@Url.Content("~/" + image.ImagePath)" alt="Bild på annonsobjekt"
                                style="width: 150px; height: auto;" />
                        }
                    }
                    else
                    {
                        <img src="~/images/placeholder.png" alt="Placeholderbild" style="width: 150px; height: auto;" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@* Paginering *@
@if (Model.HasPreviousPage)
{
    <a asp-action="ApprovedAds" asp-route-pageNumber="@(Model.PageIndex - 1)"
        asp-route-pageSize="@Model.PageSize">Föregående</a>
}
else
{
    <span>Föregående</span>
}

@if (Model.HasNextPage)
{
    <a asp-action="ApprovedAds" asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-pageSize="@Model.PageSize">Nästa</a>
}
else
{
    <span>Nästa</span>
}
