@model EquiMarketApp.Models.Ad

@{
    ViewData["Title"] = "Skapa annons";
}

@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var isUserAdmin = User.IsInRole("Admin");
}

<form asp-action="Create" enctype="multipart/form-data" class="space-y-12 sm:space-y-16">
    <div>
        <p class="mt-4 max-w-2xl text-sm leading-6 text-gray-600">Fyll i informationen nedan för att skapa en ny annons.
        </p>
        <p class="max-w-2xl text-sm leading-6 text-gray-600">Annonsen måste sedan godkännas av en administratör innan den
            publiceras.
        </p>

        <div
            class="mt-10 space-y-8 border-b border-gray-900/10 pb-12 sm:space-y-0 sm:divide-y sm:divide-gray-900/10 sm:border-t sm:pb-0">
            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                <label for="AdTypeId"
                    class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5">Annonstyp</label>
                <div class="mt-2 sm:col-span-2 sm:mt-0">
                    <select asp-for="AdTypeId"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                        asp-items="ViewBag.AdTypeId" required>
                        <option value="">Välj annonstyp</option>
                    </select>
                    <span asp-validation-for="AdTypeId" class="text-sm text-red-600"></span>
                </div>
            </div>

            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                <label for="Title"
                    class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5">@Html.DisplayNameFor(model =>
                    model.Title)</label>
                <div class="mt-2 sm:col-span-2 sm:mt-0">
                    <input asp-for="Title"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                        required />
                    <span asp-validation-for="Title" class="text-sm text-red-600"></span>
                </div>
            </div>

            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                <label for="Name"
                    class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5">@Html.DisplayNameFor(model =>
                    model.Name)</label>
                <div class="mt-2 sm:col-span-2 sm:mt-0">
                    <input asp-for="Name"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                        required />
                    <span asp-validation-for="Name" class="text-sm text-red-600"></span>
                </div>
            </div>

            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                <label for="Description"
                    class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5">@Html.DisplayNameFor(model =>
                    model.Description)</label>
                <div class="mt-2 sm:col-span-2 sm:mt-0">
                    <textarea asp-for="Description" rows="3"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                        required></textarea>
                    <span asp-validation-for="Description" class="text-sm text-red-600"></span>
                </div>
            </div>

            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                <label for="Price"
                    class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5">@Html.DisplayNameFor(model =>
                    model.Price)</label>
                <div class="mt-2 sm:col-span-2 sm:mt-0">
                    <input asp-for="Price"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                        required />
                    <span asp-validation-for="Price" class="text-sm text-red-600"></span>
                </div>
            </div>

            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                <label for="BirthYear"
                    class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5">@Html.DisplayNameFor(model =>
                    model.BirthYear)</label>
                <div class="mt-2 sm:col-span-2 sm:mt-0">
                    <input asp-for="BirthYear"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                        required />
                    <span asp-validation-for="BirthYear" class="text-sm text-red-600"></span>
                </div>
            </div>

            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                <label for="Height"
                    class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5">@Html.DisplayNameFor(model =>
                    model.Height)</label>
                <div class="mt-2 sm:col-span-2 sm:mt-0">
                    <input asp-for="Height"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                        required />
                    <span asp-validation-for="Height" class="text-sm text-red-600"></span>
                </div>
            </div>

            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                <label asp-for="Gender"
                    class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5">@Html.DisplayNameFor(model =>
                    model.Gender)</label>
                <div class="mt-2 sm:col-span-2 sm:mt-0">
                    <select asp-for="Gender"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                        asp-items="Html.GetEnumSelectList<Gender>()" required>
                        <option value="">Välj kön</option>
                    </select>
                    <span asp-validation-for="Gender" class="text-sm text-red-600"></span>
                </div>
            </div>
            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                <label asp-for="BreedId" class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5">Ras</label>
                <div class="mt-2 sm:col-span-2 sm:mt-0">
                    <select asp-for="BreedId"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                        asp-items="ViewBag.BreedId" required>
                        <option value="">Välj en ras</option>
                    </select>
                </div>
            </div>

            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                <label asp-for="OriginId"
                    class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5">Ursprung</label>
                <div class="mt-2 sm:col-span-2 sm:mt-0">
                    <select asp-for="OriginId"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                        asp-items="ViewBag.OriginId" required>
                        <option value="">Välj ursprung</option>
                    </select>
                </div>
            </div>

            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                <label asp-for="Location.CountyId"
                    class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5">Län</label>
                <div class="mt-2 sm:col-span-2 sm:mt-0">
                    <select asp-for="Location.CountyId"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                        asp-items="ViewBag.CountyId" id="countyDropdown" required>
                        <option value="">Välj ett län</option>
                    </select>
                </div>
            </div>

            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                <label asp-for="CityId" class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5">Stad</label>
                <div class="mt-2 sm:col-span-2 sm:mt-0">
                    <select asp-for="CityId"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                        id="cityDropdown" required>
                        <option value="">Välj en stad</option>
                    </select>
                </div>
            </div>

            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                <label for="images" class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5">Bilder</label>
                <div class="mt-2 sm:col-span-2 sm:mt-0">
                    <input type="file" name="images"
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                        multiple accept="image/*" />
                </div>
            </div>

            @if (isUserAdmin)
            {
                <div class="sm:grid sm:grid-cols-3 sm:items-center sm:gap-4 sm:py-6">
                    <label asp-for="IsApproved"
                        class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5">@Html.DisplayNameFor(model =>
                    model.IsApproved)</label>
                    <div class="mt-2 sm:col-span-2 sm:mt-0">
                        <input type="checkbox" asp-for="IsApproved"
                            class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" />
                        <span asp-validation-for="IsApproved" class="text-sm text-red-600"></span>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="mt-6 flex items-center justify-end gap-x-6">
        <a asp-action="Index"
            class="text-sm font-semibold leading-6 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 px-3 py-2 rounded-md hover:bg-gray-100">Tillbaka
            till lista</a>
        <button type="submit"
            class="inline-flex items-center gap-x-1.5 rounded-md bg-green-700 px-2 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-green-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600 cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
            Skapa
        </button>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var countyDropdown = document.querySelector('#countyDropdown');
            var citySelect = document.querySelector('#cityDropdown');
            var selectedCountyId = countyDropdown.value;

            // Function to populate cities
            function populateCities(countyId) {
                var url = '@Url.Action("GetCitiesByCountyId", "Ad")';
                fetch(url + '?countyId=' + countyId)
                    .then(response => response.json())
                    .then(data => {
                        citySelect.innerHTML = '<option value="">Välj en stad</option>';

                        data.forEach(function (city) {
                            var option = new Option(city.name, city.cityId);
                            citySelect.add(option);
                        });

                        // Set selected city if it was previously selected and validation failed
        @if (ViewBag.SelectedCityId != null)
        {
            @:citySelect.value = '@ViewBag.SelectedCityId';
        }
                                                        });
            }

            // Populate cities if a county is already selected
            if (selectedCountyId) {
                populateCities(selectedCountyId);
            }

            // Event listener for county change to update cities dropdown
            countyDropdown.addEventListener('change', function () {
                populateCities(this.value);
            });
        });
    </script>

}
