@model EquiMarketApp.Models.Ad
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Details";
    var isUserAdmin = User.IsInRole("Admin");
    var isOwner = Model.UserId == UserManager.GetUserId(User);
}

<h1>Details</h1>

<div>
    <h4>Ad</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsApproved)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsApproved)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Breed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Breed.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Origin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Origin.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdType.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt>Bild/er</dt>
        <dd>
            @if (Model.Images != null && Model.Images.Any())
            {
                foreach (var image in Model.Images)
                {
                    <img src="@Url.Content("~/" + image.ImagePath)" alt="Bild på annonsobjekt"
                        style="width: 150px; height: auto;" />
                }
            }
            else
            {
                <img src="~/images/placeholder.png" alt="Placeholderbild" style="width: 150px; height: auto;" />
            }
        </dd>
    </dl>
</div>
<div>
    @if (isUserAdmin || isOwner)
    {
        <a asp-action="Edit" asp-route-id="@Model?.AdId">Edit</a>
    }
    <a href="@ViewBag.ReturnUrl">Back to List</a>
</div>
