@model EquiMarketApp.Models.Ad
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@{
  ViewData["Title"] = "Annonsdetaljer";
  var isUserAdmin = User.IsInRole("Admin");
  var isOwner = Model.UserId == UserManager.GetUserId(User);
}

<div>
  <div class="mx-auto max-w-2xl px-4 py-6 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <div class="lg:grid lg:grid-cols-2 lg:items-start lg:gap-x-8">
      <!-- Image gallery -->
      <div class="flex flex-col-reverse">
        <!-- Image selector -->
        @if (Model.Images != null && Model.Images.Any())
        {
          <div class="mx-auto mt-6 w-full max-w-2xl sm:block lg:max-w-none">
            <div class="grid grid-cols-4 gap-6" aria-orientation="horizontal" role="tablist">
              @foreach (var image in Model.Images.Select((value, index) => new { index, value }))
              {
                <button id="tabs-1-tab-@image.index"
                  class="relative flex h-24 cursor-pointer items-center justify-center rounded-md bg-white text-sm font-medium uppercase text-gray-900 hover:bg-gray-50 focus:outline-none focus:ring focus:ring-opacity-50 focus:ring-offset-4"
                  role="tab" type="button" onclick="changeImage('@Url.Content("~/" + image.value.ImagePath)')">
                  <span class="sr-only">View</span>
                  <span class="absolute inset-0 overflow-hidden rounded-md">
                    <img src="@Url.Content("~/" + image.value.ImagePath)" alt="Annonsbild"
                      class="h-full w-full object-cover object-center">
                  </span>
                  <span class="ring-transparent pointer-events-none absolute inset-0 rounded-md ring-2 ring-offset-2"
                    aria-hidden="true"></span>
                </button>
              }
            </div>
          </div>
        }

        <div class="aspect-h-1 aspect-w-1 w-full">
          <!-- Show first image or placeholder if no images exist -->
          @if (Model.Images != null && Model.Images.Any())
          {
            <img id="mainImage" src="@Url.Content("~/" + Model.Images.FirstOrDefault().ImagePath)" alt="Huvudbild"
              class="h-full w-full object-cover object-center sm:rounded-lg">
          }
          else
          {
            <img id="mainImage" src="@Url.Content("~/images/placeholder.png")" alt="Placeholderbild"
              class="h-full w-full object-cover object-center sm:rounded-lg">
          }
        </div>
      </div>

      <!-- Ad info -->
      <div class="mt-10 px-4 sm:mt-16 sm:px-0 lg:mt-0">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900">@Html.DisplayFor(model => model.Title)</h1>
        <div class="text-xs mt-1 text-gray-600">
          @Html.DisplayFor(model => model.CreatedAt) av
          <a href="mailto:@Html.DisplayFor(model => model.User.Email)" class="text-blue-700 hover:text-blue-800">
            @Html.DisplayFor(model => model.User.Email)
          </a>
        </div>

        <div class="mt-4">
          <h2 class="sr-only">Pris</h2>
          <p class="text-3xl tracking-tight text-gray-900">@Model.Price.ToString("0") kr</p>
        </div>

        @if (!isOwner && User.Identity.IsAuthenticated)
        {
          <div class="mt-6">
            <a asp-controller="Conversation" asp-action="Create" asp-route-adId="@Model.AdId"
              class="inline-flex items-center gap-x-1.5 rounded-md bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-700">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 0 1-.825-.242m9.345-8.334a2.126 2.126 0 0 0-.476-.095 48.64 48.64 0 0 0-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0 0 11.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" />
              </svg>
              Starta konversation
            </a>
          </div>
        }

        <div class="mt-6">
          <h3 class="sr-only">Beskrivning</h3>
          <div class="space-y-6 text-base text-gray-700">
            <p>@Html.DisplayFor(model => model.Description)</p>
          </div>
        </div>

        <!-- More details -->
        <dl class="mt-6 space-y-6 text-base text-gray-700">
          <div>
            <dt class="text-sm font-medium">Födelseår:</dt>
            <dd>@Html.DisplayFor(model => model.BirthYear)</dd>
          </div>
          <div>
            <dt class="text-sm font-medium">Mankhöjd:</dt>
            <dd>@Html.DisplayFor(model => model.Height) cm</dd>
          </div>
          <div>
            <dt class="text-sm font-medium">Kön:</dt>
            <dd>@Html.DisplayFor(model => model.Gender)</dd>
          </div>
          <div>
            <dt class="text-sm font-medium">Ras:</dt>
            <dd>@Html.DisplayFor(model => model.Breed.Name)</dd>
          </div>
          <div>
            <dt class="text-sm font-medium">Ursprung:</dt>
            <dd>@Html.DisplayFor(model => model.Origin.Country)</dd>
          </div>
          <div>
            <dt class="text-sm font-medium">Plats:</dt>
            <dd>@Html.DisplayFor(model => model.Location.Name)</dd>
          </div>
        </dl>

        <div class="mt-6 flex justify-center items-center gap-x-6">
          <a href="@ViewBag.ReturnUrl"
            class="text-sm font-semibold leading-6 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 px-3 py-2 rounded-md hover:bg-gray-100">Tillbaka
            till lista</a>
          @if (isUserAdmin || isOwner)
          {
            <a asp-action="Edit" asp-route-id="@Model?.AdId"
              class="inline-flex items-center gap-x-1.5 rounded-md bg-yellow-50 px-3 py-2 text-sm font-semibold text-yellow-700 shadow-sm ring-1 ring-inset ring-yellow-600/50 hover:bg-yellow-100">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6 mr-2">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
              </svg>Redigera</a>
          }
        </div>
      </div>
    </div>
  </div>
</div>

@section Scripts {
  <script>
    function changeImage(src) {
      document.getElementById("mainImage").src = src;
    }
  </script>
}
