@model EquiMarketApp.Models.Ad

@{
    ViewData["Title"] = "Edit";
}

@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var isUserAdmin = User.IsInRole("Admin");
}

<h1>Edit</h1>

<h4>Ad</h4>
<hr />
<div class="flex flex-wrap ">
    <div class="md:w-1/3 pr-4 pl-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-red-600"></div>
            <input type="hidden" asp-for="AdId" />
            <div class="mb-4">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded" />
                <span asp-validation-for="Title" class="text-red-600"></span>
            </div>
            <div class="mb-4">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded" />
                <span asp-validation-for="Description" class="text-red-600"></span>
            </div>
            <div class="mb-4">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded" type="number" />
                <span asp-validation-for="Price" class="text-red-600"></span>
            </div>
            <div class="mb-4">
                <label asp-for="BirthYear" class="control-label"></label>
                <input asp-for="BirthYear" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded" type="number" />
                <span asp-validation-for="BirthYear" class="text-red-600"></span>
            </div>
            <div class="mb-4">
                <label asp-for="Height" class="control-label"></label>
                <input asp-for="Height" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded" />
                <span asp-validation-for="Height" class="text-red-600"></span>
            </div>
            <div class="mb-4">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded" />
                <span asp-validation-for="Name" class="text-red-600"></span>
            </div>
            <div class="mb-4">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded" asp-items="Html.GetEnumSelectList<Gender>()"></select>
                <span asp-validation-for="Gender" class="text-red-600"></span>
            </div>
            @if (isUserAdmin)
            {
                <div class="mb-4 relative block mb-2">
                    <label class="text-gray-700 pl-6 mb-0">
                        <input class="absolute mt-1 -ml-6" asp-for="IsApproved" /> @Html.DisplayNameFor(model =>
                    model.IsApproved)
                    </label>
                </div>
            }
            <div class="mb-4">
                <label asp-for="BreedId" class="control-label"></label>
                <select asp-for="BreedId" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded" asp-items="ViewBag.BreedId"></select>
                <span asp-validation-for="BreedId" class="text-red-600"></span>
            </div>
            <div class="mb-4">
                <label asp-for="OriginId" class="control-label"></label>
                <select asp-for="OriginId" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded" asp-items="ViewBag.OriginId"></select>
                <span asp-validation-for="OriginId" class="text-red-600"></span>
            </div>
            <div class="mb-4">
                <label asp-for="AdTypeId" class="control-label"></label>
                <select asp-for="AdTypeId" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded" asp-items="ViewBag.AdTypeId"></select>
                <span asp-validation-for="AdTypeId" class="text-red-600"></span>
            </div>
            <div class="mb-4">
                <label asp-for="Location.CountyId" class="control-label">County</label>
                <select asp-for="Location.CountyId" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded" asp-items="ViewBag.CountyId"
                    id="countyDropdown">
                    <option value="">Välj ett län</option>
                </select>
            </div>
            <div class="mb-4">
                <label asp-for="CityId" class="control-label">City</label>
                <select asp-for="CityId" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded" id="cityDropdown">
                    <option value="">Välj en stad</option>
                </select>
            </div>
            <div class="mb-4">
                <label for="newImages">Ladda upp ny bild:</label>
                <input type="file" name="newImages" class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded" multiple accept="image/*" />
            </div>
            <div class="mb-4">
                <input type="submit" value="Save" class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline bg-blue-600 text-white hover:bg-blue-600" />
            </div>
        </form>
        @if (Model.Images != null && Model.Images.Any())
        {
            <div>
                <h3>Current Images</h3>
                @foreach (var image in Model.Images)
                {
                    <div>
                        <img src="@Url.Content("~/" + image.ImagePath)" alt="Bild" style="width: 150px; height: auto;" />
                        <form asp-action="DeleteImage" asp-route-imageId="@image.ImageId" asp-route-adId="@Model.AdId"
                            method="post">
                            <button type="submit" class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline bg-red-600 text-white hover:bg-red-700"
                                onclick="return confirm('Är du säker på att du vill radera denna bild?');">Delete</button>
                        </form>
                    </div>
                }
            </div>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // This function loads cities based on the selected county
            function loadCities() {
                var countyId = document.querySelector('#countyDropdown').value;
                var selectedCityId = '@Model.CityId';
                var url = '@Url.Action("GetCitiesByCountyId", "Ad")';

                // Fetch the cities data
                fetch(url + '?countyId=' + countyId)
                    .then(response => response.json())
                    .then(data => {
                        var citySelect = document.querySelector('#cityDropdown');
                        citySelect.innerHTML = '';

                        data.forEach(function (city) {
                            var option = new Option(city.name, city.cityId);
                            if (city.cityId.toString() === selectedCityId) {
                                // Set the option as selected
                                option.selected = true;
                            }
                            citySelect.add(option);
                        });
                    });
            }
            // Call the loadCities function initially to populate the city dropdown
            loadCities();

            // Add an event listener to the county dropdown
            document.querySelector('#countyDropdown').addEventListener('change', loadCities);
        });

    </script>
}
